<font size="6"><b>{{character.name}} ({{character.uid}})</b></font>
<br>
<font size="4"><b>First Name: </b>N/A</font>
<br>
<font size="4"><b>Surname: </b>N/A</font>
<br>
<font size="4"><b>Age: </b>0 (Adult)</font>
<br>
<font size="4"><b>Species: </b>Human</font>
<br>
<font size="4"><b>Sex: </b>Male</font>
<br>
<font size="4"><b>Birth Date: </b>N/A</font>
<br>
<font size="4"><b>Death Date: </b>N/A</font>
<br>
<font size="4"><b>Clan: </b>N/A</font>
<br>
<font size="4"><b>Family: </b>N/A</font>
