<font size="6"><b>{{clan.name}} ({{clan.gameobject.uid}})</b></font>
<br>
<br>
<font size="4"><b>Clan Head: </b>
{% if clan.head is not none %}
<a href="/gameobject?uid={{clan.head.uid}}">{{clan.head.name}} ({{clan.head.uid}})</a>
{% else %}
N/A
{% endif %}
</font>
<br>
<br>
<font size="4"><b>Home Base: </b>
{% if clan.home_base is not none %}
<a href="/gameobject?uid={{clan.home_base.uid}}">{{clan.home_base.name}} ({{clan.home_base.uid}})</a>
{% else %}
N/A
{% endif %}
</font>
<br>
<br>
<font size="4"><b>Territories: </b></font><br>
{% if clan.territories %}
{% for territory in clan.territories %}
- <a href="/gameobject?uid={{territory.uid}}">{{territory.name}} ({{territory.uid}})</a><br>
{% endfor %}
{% else %}
N/A<br>
{% endif %}
<br>
<br>
<font size="4"><b>Families:<b></font>
<br>
{% for family in clan.families%}
- <a href="/gameobject?uid={{family.uid}}">{{family.name}} ({{family.uid}})</a><br>
{% endfor %}
<br>
<font size="4"><b>Members:<b></font>
<br>
{% for character in clan.members%}
- <a href="/gameobject?uid={{character.uid}}">{{character.name}} ({{character.uid}})</a><br>
{% endfor %}
