<font size="6"><b>Minerva World Wiki</b></font>
<br>
<font size="4"><b>World Seed: </b>{{world_seed}}</font>
<br><br>
<a href="/settlement_list">Settlements</a> - All current setttlements.<br>
<a href="/family_list">Families</a> - All active families.<br>
<a href="/character_list">Characters</a> - All active characters.<br>
