<font size="6"><b>{{territory.gameobject.name}} ({{territory.gameobject.uid}})</b></font>
<br>
<font size="4"><b>Controlling Family: </b></font>
{% if territory.controlling_family is not none %}
<a href="/gameobject?uid={{territory.controlling_family.uid}}">{{territory.controlling_family.name}} ({{territory.controlling_family.uid}})</a>
{% else %}
N/A
{% endif %}
<br>
<font size="4"><b>Business Types: </b></font><br>
{% if territory.business_types %}
{% for business_type in territory.business_types %}
- {{business_type}}<br>
{% endfor %}
{% else %}
N/A<br>
{% endif %}
<br>
<font size="4"><b>Happiness Level: </b></font> {{happiness}}/100<br>
<br>
<font size="4"><b>Families:<b></font>
<br>
{% if territory.families %}
{% for family in territory.families%}
- <a href="/gameobject?uid={{family.uid}}">{{family.name}} ({{family.uid}})</a><br>
{% endfor %}
{% else %}
N/A<br>
{% endif %}
<br>
